<!-- Navbar -->

<div class="ui inverted menu">
    <div class="header item">Hôtel Californien</div>
    <a class="item" href="/">Accueil</a>
    <a class="item" href="/chambres">Chambres</a>
    <a class="item" href="/clients">Clients</a>
    <a class="item" href="/reservations">Réservations</a>
    <div class="right menu">
        <a class="item" href="/auth/login">Connexion</a>
    </div>
</div>